.cartContainer{
  padding-left: 150px;
}



.detalleCart h1{
    font-weight: bold;
    font-size: 28px;
}

.detalleCart a{
    align-self: center;
    text-decoration: none;
}



.resumenCart{
    font-weight: bold;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 120px;
    
}

.titulosDetalle{
    text-transform: uppercase;
    align-self: center;
    text-align: center;
   
   
}

.titulosDetalle div{
    font-weight: bold;
}

.cartProductos div img{
    width:100px;
    height:157px;

}

.trash {
    position:relative;
    bottom:5px;
    left:5px;
    background: none;
    border: none;
}

.cartEmpty{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cartEmpty h3 {
    font-size: 20px;
    padding:20px 0px;
}

.cartEmpty img {
    padding:20px 0px;
}

.continuarBoton {
    font-size: 14px;
}