/*----------------Counter------------------*/

.counterConfirmar{
    width:137px;
}

/*----------------Responsive Counter------------------*/

@media all and (max-width:1050px){
    .counterContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}