.itemSeleccion{
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
    padding:20px 20px;
    padding-bottom: 90px;
    
    
}
.itemSeleccionInfo{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    padding-left:30px;
 
}
.itemSeleccionDarkMode{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    padding-left:30px;
 
}

.itemSeleccionImg img{
    width:322px;
    height:527px;
}

.itemSeleccionInfo h4 {
    font-size: 28px;
    color: #333333;
}

.itemSeleccionDarkMode h4 {
    font-size: 28px;
    color: white;
}

.itemSeleccionInfo h5 {
    padding-top:20px;
    font-size: 19px;
    color: #828282;
    padding-bottom:10px;
   
}

.itemSeleccionDarkMode h5 {
    padding-top:20px;
    font-size: 19px;
    color: #cfb6b6;
    padding-bottom:10px;
}

.itemSeleccionCompra{
    border-top: 1px solid #333333;
    width:500px;
    padding-top:10px;
}

.itemSeleccionCompra p {
    
    font-size: 19px;
}

.botonFinalizar{
    position:relative;
    top:80px;
    width:160px;

}

/*----------------RESPONSIVE-----------------*/

/*-------------ItemDetail---------------*/
@media all and (max-width:1050px){
    .itemSeleccion{
        flex-direction: column;
    }

    .itemSeleccionImg{
        display:flex;
        justify-content: center;
    }

    .itemSeleccionImg img{
        width:178px;
        height:291px;
    }
    .itemSeleccionCompra {
        width:100%;
    }

    .itemSeleccionCompra p {
        text-align: center;
    }
    .itemSeleccionInfo {
        padding-top:10px;
        padding-left:0px;
        align-items:center;
    }

    .itemSeleccion{
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .botonFinalizar{
        top:0px;
    
    }

    .containerFinalizar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

}

