.item-seleccion{
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
    padding:20px 20px;
    
    
}
.item-seleccion-info{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    padding-left:30px;
 
}
.item-seleccion-darkMode{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    padding-left:30px;
 
}

.item-seleccion-img img{
    width:322px;
    height:527px;
}

.item-seleccion-info h4 {
    font-size: 28px;
    color: #333333;
}

.item-seleccion-darkMode h4 {
    font-size: 28px;
    color: white;
}

.item-seleccion-info h5 {
    padding-top:20px;
    font-size: 19px;
    color: #828282;
    padding-bottom:10px;
   
}

.item-seleccion-darkMode h5 {
    padding-top:20px;
    font-size: 19px;
    color: #cfb6b6;
    padding-bottom:10px;
}

.item-seleccion-compra{
    border-top: 1px solid #333333;
    width:500px;
    padding-top:10px;
}

.item-seleccion-compra p {
    
    font-size: 19px;
}

.botonFinalizar{
    position:relative;
    top:80px;
    width:160px;

}

/*----------------RESPONSIVE-----------------*/

/*-------------ItemDetail---------------*/
@media all and (max-width:1050px){
    .item-seleccion{
        flex-direction: column;
    }

    .item-seleccion-img{
        display:flex;
        justify-content: center;
    }

    .item-seleccion-img img{
        width:178px;
        height:291px;
    }
    .item-seleccion-compra {
        width:100%;
    }
    .item-seleccion-info {
        padding-top:10px;
        padding-left:0px;
        align-items:center;
    }

    .item-seleccion{
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

}

