/*-------------ItemListContainer---------------*/


.itemContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spinnerContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:400px;
}

/*----------------RESPONSIVE ItemListContainer-----------------*/

@media all and (max-width:1050px){
    .saludo{
        padding:0px 20px;
    }

    

}