/*-------Item------*/

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 20px;
    width:300px;
    
}
.itemBox{
    display:flex;
    flex-direction:column;
    align-items: center;
    
}

.itemBox img{
    width:154px;
    height:252px;
}

.itemBox h4 {
    margin-top:15px;
    font-size: 20px;
}

.itemBox h5 {
    font-size: 15px;
}