@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

/*-------------Header---------------*/

.saludo{
    display:flex;
    justify-content:center;
    text-align: center;
    font-family: 'Cutive', serif;
}

.saludo h1 {
    font-size: 50px;
}

/*----------------RESPONSIVE-----------------*/

/*-------------Header---------------*/
@media all and (max-width:1050px){
    .saludo{
       
        padding:0px 20px;
        padding-top:30px;
        
    }

    .saludo h1{
        font-size: 32px;
    }

    

}