/*-------------APP---------------*/


.darkMode {
    background-color: rgb(58, 51, 51);
    color:antiquewhite;
}

.lightMode{
    background-color: white;
    color:black;
}

.botonMode{
    padding-left:20px;
    position:relative;
    top:40px;
}

/*-------------Responsive APP---------------*/


@media all and (max-width:1050px){
    .botonMode{
        top:10px;
        right:10px;
    }
    

}